In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [35]:
dfx = pd.read_csv("smap_test.csv")
dfy = pd.read_csv("smap_test_label.csv")

In [36]:
dfx

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427612,0.992570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
427613,0.992570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
427614,0.992570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
427615,0.995638,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
427616,0.995638,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
dfy

        0
0       0
1       0
2       0
3       0
4       0
...    ..
427612  0
427613  0
427614  0
427615  0
427616  0

[427617 rows x 1 columns]

In [38]:
dfx['3'].value_counts().reset_index()

     3   count
0  0.0  421035
1  1.0    6582

In [39]:
zero_columns = dfx.columns[dfx.eq(0).all()]
zero_columns

Index([], dtype='object')

In [40]:
dfx.isna().any().any()

False

In [41]:
mean0 = []
mean1 = []
median0 = []
median1 = []
std0 = []
std1 = []
for x in dfx.columns:
    mean0.append(np.mean(dfx[str(x)][dfy["0"] == 0]))
    mean1.append(np.mean(dfx[str(x)][dfy["0"] == 1]))
    median0.append(np.median(dfx[str(x)][dfy["0"] == 0]))
    median1.append(np.median(dfx[str(x)][dfy["0"] == 1]))
    std0.append(np.std(dfx[str(x)][dfy["0"] == 0]))
    std1.append(np.std(dfx[str(x)][dfy["0"] == 1]))

In [42]:
def calculate_per_change(old_value, new_value):
    percentage_change = ((new_value - old_value) / old_value) * 100
    return percentage_change

In [43]:
per_mean01 = []
per_mean10 = []
per_std01 = []
per_std10 = []
per_median01 = []
per_median10 = []
for i in range(len(std0)):
    per_mean01.append(calculate_per_change(mean0[i],mean1[i]))
    per_mean10.append(calculate_per_change(mean1[i],mean0[i]))
    per_std01.append(calculate_per_change(std0[i],std1[i]))
    per_std10.append(calculate_per_change(std1[i],std0[i]))
    per_median01.append(calculate_per_change(median0[i],median1[i]))
    per_median10.append(calculate_per_change(median1[i],median0[i]))

C:\Users\Sharda Prasad Maurya.LAPTOP-4MVRVONI\AppData\Local\Temp\ipykernel_9184\3838705196.py:2: RuntimeWarning: invalid value encountered in double_scalars
  percentage_change = ((new_value - old_value) / old_value) * 100
C:\Users\Sharda Prasad Maurya.LAPTOP-4MVRVONI\AppData\Local\Temp\ipykernel_9184\3838705196.py:2: RuntimeWarning: divide by zero encountered in double_scalars
  percentage_change = ((new_value - old_value) / old_value) * 100

### percentage change in mean, median, mode
printing the features which are most affecting the anomaly

In [44]:
per_mean01_features = []
per_std01_features = []
per_median01_features = []
per_mean10_features = []
per_std10_features = []
per_median10_features = []
for i in range(len(std0)):
    if (per_mean01[i]>=5):
        x= per_mean01[i]
        per_mean01_features.append(dfx.columns[i])
    if (per_std01[i]>=50):
        x= per_std01[i]
        per_std01_features.append(dfx.columns[i])

    if (per_median01[i]>=20):
        x= per_median01[i]
        per_median01_features.append(dfx.columns[i])

    if (per_mean10[i]>=60):
        x= per_mean10[i]
        per_mean10_features.append(dfx.columns[i])
    if (per_std10[i]>=50):
        x= per_std10[i]
        per_std10_features.append(dfx.columns[i])
    if (per_median10[i]>=20):
        x= per_median10[i]
        per_median10_features.append(dfx.columns[i])

print(per_mean01_features)
print(per_std01_features)
print(per_median01_features)
print(per_mean10_features)
print(sorted(per_std10_features))
print(per_median10_features)

['15', '16', '20', '23', '24']
['15', '16', '20', '23', '24']
[]
['0', '3', '5', '6', '7', '9', '10', '11', '17', '18']
['10', '11']
['0']

## Point-Biserial Correlation

In [45]:
from scipy.stats import pointbiserialr

correlation_coefficients = {}

for column in dfx.columns:
    # Calculate the point-biserial correlation between the input variable and the anomaly indicator
    correlation, p_value = pointbiserialr(dfx[column], dfy['0'])
    
    correlation_coefficients[column] = correlation

sorted_correlation_coefficients = sorted(correlation_coefficients.items(), key=lambda x: abs(x[1]), reverse=True)

for variable, coefficient in sorted_correlation_coefficients:
    print(f"Variable: {variable}, Point-Biserial Correlation: {coefficient}")

Variable: 5, Point-Biserial Correlation: -0.043705114959165924
Variable: 0, Point-Biserial Correlation: 0.04281736541705005
Variable: 6, Point-Biserial Correlation: -0.03887107511840901
Variable: 23, Point-Biserial Correlation: 0.02112984884089712
Variable: 24, Point-Biserial Correlation: 0.02112984884089712
Variable: 15, Point-Biserial Correlation: 0.020749075394944815
Variable: 16, Point-Biserial Correlation: 0.020749075394944815
Variable: 1, Point-Biserial Correlation: -0.0179583997066952
Variable: 18, Point-Biserial Correlation: -0.01746978682395407
Variable: 3, Point-Biserial Correlation: -0.01745508821057549
Variable: 17, Point-Biserial Correlation: -0.01729158463027582
Variable: 21, Point-Biserial Correlation: -0.01725672579352828
Variable: 22, Point-Biserial Correlation: -0.015952146218048847
Variable: 19, Point-Biserial Correlation: -0.011358152133539256
Variable: 20, Point-Biserial Correlation: 0.006469490047417388
Variable: 11, Point-Biserial Correlation: -0.00598813777897109
Variable: 7, Point-Biserial Correlation: -0.0038936309326723173
Variable: 2, Point-Biserial Correlation: -0.0036200810642748513
Variable: 9, Point-Biserial Correlation: -0.0027438491648891766
Variable: 12, Point-Biserial Correlation: -0.0014542569896624415
Variable: 13, Point-Biserial Correlation: -0.001356162844049913
Variable: 14, Point-Biserial Correlation: -0.001356162844049913
Variable: 4, Point-Biserial Correlation: -0.0008465007336418268
Variable: 10, Point-Biserial Correlation: -0.0008282432318787322
Variable: 8, Point-Biserial Correlation: -0.00030983575374501584

In [46]:
k  = []
for i in dfx.columns:
    k.append(dfx[i].value_counts().reset_index())

print(k)

[              0  count
0     -1.000000  94502
1      1.000000  49058
2      0.991968   7227
3      1.000000   3422
4     -0.999494   2262
...         ...    ...
54882 -0.645088      1
54883 -0.644857      1
54884 -0.644625      1
54885 -0.644394      1
54886  0.408206      1

[54887 rows x 2 columns],      1   count
0  0.0  419418
1  1.0    8199,      2   count
0  0.0  426145
1  1.0    1472,      3   count
0  0.0  421035
1  1.0    6582,      4   count
0  0.0  427483
1  1.0     134,      5   count
0  0.0  389069
1  1.0   38548,      6   count
0  0.0  398130
1  1.0   29487,      7   count
0  0.0  427333
1  1.0     284,      8   count
0  0.0  427534
1  1.0      83,      9   count
0  0.0  427485
1  1.0     132,     10   count
0  0.0  427615
1  1.0       2,     11   count
0  0.0  427359
1  1.0     258,     12   count
0  0.0  427559
1  1.0      58,     13   count
0  0.0  427446
1  1.0     171,     14   count
0  0.0  427446
1  1.0     171,     15   count
0  0.0  427590
1  1.0      27,     16   count
0  0.0  427590
1  1.0      27,     17   count
0  0.0  421272
1  1.0    6345,     18   count
0  0.0  421415
1  1.0    6202,     19   count
0  0.0  424309
1  1.0    3308,     20   count
0  0.0  427573
1  1.0      44,     21   count
0  0.0  418805
1  1.0    8812,     22   count
0  0.0  419439
1  1.0    8178,     23   count
0  0.0  427589
1  1.0      28,     24   count
0  0.0  427589
1  1.0      28]

### variables which are the root cause for the anomaly

on EDA on the data set:  
the variable which are the root cause of the anomaly are: **5, 6, 0, 3, 23, 24**   
some other also are there: **15, 16, 18, 17, 20, 11**